<app-header></app-header>
<div class="main-panel">
  <div class="container-fluid">
    <!-- Start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex justify-content-between mb-30">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a routerLink="/dashboard">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Riders</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div
              id="datatable-buttons_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
              <div class="row">
                <div class="col-sm-12">
                  <table
                    id="datatable-buttons"
                    class="table table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline"
                    role="grid"
                    aria-describedby="datatable-buttons_info"
                  >
                    <thead class="primary-color">
                      <tr role="row">
                        <th
                          class="sorting_asc text-white"
                          tabindex="0"
                          aria-controls="datatable-buttons"
                          rowspan="1"
                          colspan="1"
                          style="width: 265.8px"
                          aria-sort="ascending"
                          aria-label="Name: activate to sort column descending"
                        >
                          Name
                        </th>
                        <th
                          class="sorting text-white"
                          tabindex="0"
                          aria-controls="datatable-buttons"
                          rowspan="1"
                          colspan="1"
                          style="width: 391.8px"
                          aria-label="Position: activate to sort column ascending"
                        >
                          Area
                        </th>
                        <th
                          class="sorting text-white"
                          tabindex="0"
                          aria-controls="datatable-buttons"
                          rowspan="1"
                          colspan="1"
                          style="width: 200.8px"
                          aria-label="Office: activate to sort column ascending"
                        >
                          Phone No
                        </th>
                        <th
                          class="sorting text-white"
                          tabindex="0"
                          aria-controls="datatable-buttons"
                          rowspan="1"
                          colspan="1"
                          style="width: 93.8px"
                          aria-label="Age: activate to sort column ascending"
                        >
                          Age
                        </th>
                        <th
                          class="sorting text-white"
                          tabindex="0"
                          aria-controls="datatable-buttons"
                          rowspan="1"
                          colspan="1"
                          style="width: 174.8px"
                          aria-label="Start date: activate to sort column ascending"
                        >
                          Start date
                        </th>
                        <th
                          class="sorting text-white"
                          tabindex="0"
                          aria-controls="datatable-buttons"
                          rowspan="1"
                          colspan="1"
                          style="width: 150.8px"
                          aria-label="Salary: activate to sort column ascending"
                        >
                          Salary
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">Airi Satou</td>
                        <td>Lahore</td>
                        <td>042 000 323213132</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div
                    class="dataTables_info"
                    id="datatable-buttons_info"
                    role="status"
                    aria-live="polite"
                  >
                    Showing 1 to 10 of 57 entries
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div
                    class="dataTables_paginate paging_simple_numbers"
                    id="datatable-buttons_paginate"
                  >
                    <ul class="pagination pagination-rounded">
                      <li
                        class="paginate_button page-item previous disabled"
                        id="datatable-buttons_previous"
                      >
                        <a
                          href="#"
                          aria-controls="datatable-buttons"
                          data-dt-idx="0"
                          tabindex="0"
                          class="page-link"
                          ><i class="arrow_carrot-left"></i
                        ></a>
                      </li>
                      <li class="paginate_button page-item active">
                        <a
                          href="#"
                          aria-controls="datatable-buttons"
                          data-dt-idx="1"
                          tabindex="0"
                          class="page-link"
                          >1</a
                        >
                      </li>
                      <li class="paginate_button page-item">
                        <a
                          href="#"
                          aria-controls="datatable-buttons"
                          data-dt-idx="2"
                          tabindex="0"
                          class="page-link"
                          >2</a
                        >
                      </li>
                      <li class="paginate_button page-item">
                        <a
                          href="#"
                          aria-controls="datatable-buttons"
                          data-dt-idx="3"
                          tabindex="0"
                          class="page-link"
                          >3</a
                        >
                      </li>
                      <li class="paginate_button page-item">
                        <a
                          href="#"
                          aria-controls="datatable-buttons"
                          data-dt-idx="4"
                          tabindex="0"
                          class="page-link"
                          >4</a
                        >
                      </li>
                      <li class="paginate_button page-item">
                        <a
                          href="#"
                          aria-controls="datatable-buttons"
                          data-dt-idx="5"
                          tabindex="0"
                          class="page-link"
                          >5</a
                        >
                      </li>
                      <li class="paginate_button page-item">
                        <a
                          href="#"
                          aria-controls="datatable-buttons"
                          data-dt-idx="6"
                          tabindex="0"
                          class="page-link"
                          >6</a
                        >
                      </li>
                      <li
                        class="paginate_button page-item next"
                        id="datatable-buttons_next"
                      >
                        <a
                          href="#"
                          aria-controls="datatable-buttons"
                          data-dt-idx="7"
                          tabindex="0"
                          class="page-link"
                          ><i class="arrow_carrot-right"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end card body-->
        </div>
        <!-- end card -->
      </div>
      <!-- end col-->
    </div>
    <!-- end row-->
  </div>

  <!-- Footer Area -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="footer-area footer">
          <!-- Footer Area -->
          <div class="d-sm-flex align-items-center justify-content-between">
            <!-- Copywrite Text -->
            <div class="copywrite-text">
              <p>Nijar © 2020 by <a href="#">Theme-zome</a></p>
            </div>
            <!-- Footer Nav -->
            <ul
              class="footer-nav d-flex align-items-center justify-content-end"
            >
              <li><a href="#">About</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Purchase</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
