<app-header></app-header>
<div class="main-panel">
  <div class="container-fluid">
    <!-- Start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex justify-content-between mb-30">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a routerLink="/dashboard">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Customers</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12 mb-30">
        <div class="card bg-boxshadow full-height">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>First name</th>
                    <th>Progress</th>
                    <th>Amount</th>
                    <th>Deadline</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-2.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Herman Beck</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-25 bg-success"
                          role="progressbar"
                          aria-valuenow="25"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 77.99</td>
                    <td>May 15, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-3.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Messsy Adam</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-50 bg-danger"
                          role="progressbar"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$245.30</td>
                    <td>July 1, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-4.jpg"
                        alt="image"
                      />
                    </td>
                    <td>John Richards</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-75 bg-warning"
                          role="progressbar"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$138.00</td>
                    <td>Apr 12, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-5.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Peter Meggik</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-25 bg-primary"
                          role="progressbar"
                          aria-valuenow="50"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 77.99</td>
                    <td>May 15, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-6.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Edward</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-50 bg-danger"
                          role="progressbar"
                          aria-valuenow="35"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 160.25</td>
                    <td>May 03, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-7.jpg"
                        alt="image"
                      />
                    </td>
                    <td>John Doe</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-15 bg-info"
                          role="progressbar"
                          aria-valuenow="65"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 123.21</td>
                    <td>April 05, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-8.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Henry Tom</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-100 bg-warning"
                          role="progressbar"
                          aria-valuenow="20"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 150.00</td>
                    <td>June 16, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-2.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Herman Beck</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-25 bg-success"
                          role="progressbar"
                          aria-valuenow="25"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 77.99</td>
                    <td>May 15, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-3.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Messsy Adam</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-50 bg-danger"
                          role="progressbar"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$245.30</td>
                    <td>July 1, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-4.jpg"
                        alt="image"
                      />
                    </td>
                    <td>John Richards</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-75 bg-warning"
                          role="progressbar"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$138.00</td>
                    <td>Apr 12, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-5.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Peter Meggik</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-25 bg-primary"
                          role="progressbar"
                          aria-valuenow="50"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 77.99</td>
                    <td>May 15, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-6.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Edward</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-50 bg-danger"
                          role="progressbar"
                          aria-valuenow="35"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 160.25</td>
                    <td>May 03, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-7.jpg"
                        alt="image"
                      />
                    </td>
                    <td>John Doe</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-15 bg-info"
                          role="progressbar"
                          aria-valuenow="65"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 123.21</td>
                    <td>April 05, 2015</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="chat-img"
                        src="../../../assets/img/member-img/team-8.jpg"
                        alt="image"
                      />
                    </td>
                    <td>Henry Tom</td>
                    <td>
                      <div class="progress h-5">
                        <div
                          class="progress-bar w-100 bg-warning"
                          role="progressbar"
                          aria-valuenow="20"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </td>
                    <td>$ 150.00</td>
                    <td>June 16, 2015</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end col-->
    </div>
    <!-- end row-->
  </div>

  <!-- Footer Area -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="footer-area footer">
          <!-- Footer Area -->
          <div class="d-sm-flex align-items-center justify-content-between">
            <!-- Copywrite Text -->
            <div class="copywrite-text">
              <p>Nijar © 2020 by <a href="#">Theme-zome</a></p>
            </div>
            <!-- Footer Nav -->
            <ul
              class="footer-nav d-flex align-items-center justify-content-end"
            >
              <li><a href="#">About</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Purchase</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
